<ion-header >
  <ion-toolbar>
    <ion-title>
      Header de la page
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button text="Back"
      icon="arrow-redo-outline">
    </ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <!--<ion-menu-button> </ion-menu-button>-->
      <ion-button (click)="openMenu($event)">
          <ion-icon slot="icon-only"
          ios="ellipsis-horizontal"
          md="ellipsis-vertical">
        </ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content >
  <div>
    <strong>Le contenu de la page</strong>
  </div>
  <button (click)="openAlert()">
    Ouvrir l'alerte
  </button>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-title>Footer de la page</ion-title>
    </ion-toolbar>
 </ion-footer>
